@charset "ISO-8859-1";

* {
    padding: 0;
    margin: 0;
}

.fondoMain {
    background: linear-gradient(180deg, #8735a0 20%, #1a0321 90%);
}

.copy {
    text-align: center;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

ul li svg {
    background-color: red;
    margin: 0 .5em;
    width: 1.5em;
    border-radius: 3px;
}

.error {

    border-color: red;
}
  
  